body,
* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  max-width: 100vw;
}

body {
  background-color: lightyellow;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: 1.5fr 2fr 2fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1fr 1fr;
  gap: 10px;
  height: 100%;
  padding: 10px;
  grid-template-areas:
    'top top top top'
    'queue main main chat'
    'selection main main chat'
    'selection output output chat';
}

.queue-status {
  grid-area: queue;
}
#pokemon-selection {
  grid-area: selection;
  display: flex;
  flex-direction: column;
}
.message-output {
  grid-area: output;
}
#trainer-registration {
  grid-area: top;
  display: flex;
  flex-direction: column;
  padding: 0 0 15px 15px;
  gap: 10px;
}

.border {
  border: 1px solid #ccc;
  border-radius: 5px;
}
#selected,
#remaining-pokemon {
  flex: 1;
  overflow-y: auto;
}
#selected {
  border-bottom: 1px solid #ccc;
}

.battle-area {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.battle-status {
  flex-grow: 1;
  overflow: auto;
}

.chat-window {
  padding: 5px;
  grid-area: chat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-wrap: wrap;
  width: 300px;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

#chat-messages {
  justify-self: flex-end;
}
.message {
  float: left;
}
